<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="min-height: 500px">
  <h1>Spring Boot REST API with AJAX Example</h1>
  <img id="images" src="" alt="" width="100">
  <div id="profile"></div>
  <button id="logout" class="btn btn-secondary mt-2">Logout</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="/js/mainjs.js"></script>
</body>
</html>


